/*_base.scss */

*, *:after, *:before{box-sizing: border-box;margin:0;padding:0;}
h1,h2,h3,h4,p{color:#404448;font-weight:400;font-family: 'Roboto', sans-serif;}
h1{
    font-size: 40px;
    line-height: 45px;
}
h2 {
    font-size: 35px;
    line-height: 40px;
}
h3{
    font-size: 30px;
    line-height: 35px;
}
h4{
    font-size: 25px;
    line-height: 30px;
}
p{
    font-size: 18px;
    line-height: 1.5em;
}
