doctype html
html
	head
		title CreativeKoen
		link(rel='stylesheet', href='css/main.min.css')
	body
		.container
			.module-header.l-gap
					h1 My Gulp
			.module.l-gap
				p theme light
			.module.l-gap
				p theme dark
